<?php
    return [
        'appName' => 'My App Name',
        'appBaseUrl' => 'http://localhost',
        'appHomeUrl' => '/home',
        'logoPath' => '/images/logo.png',
        'loggerUrl' => 'http://localkangaroo.dev/site/logger',
        'headers' => [
            'X-Application-Key' => 'eyJ0eXAiOiJKV1QiLCJfhbGciOiJIUzI1NiJ9.eyJkYXRhIjp7ImJ1c2luZXNzSWQdiOjk1LCJicmFuY2hJZCI6MTI3fX0.ct7cjjB8PG94SQOONb1OpYi8-OxZH0wiNZdL86nLIno',
            'Accept' => 'application/vnd.kangaroorewards.api.v1+json;',
        ],
        'api' => [
            'baseUrl' => 'https://api.kangaroorewards.com',
            'grant_type' => 'password',
            'client_id' => '{YOUR CLIENT ID}',
            'client_secret' => '{YOUR CLIENT SECRET}',
            'scope' => 'all',
            'endpoints' => [
                'tokenUrl' => '/oauth/token',
                'me' => '/users/me?include[]=offers&include[]=catalog_items',
            ],
        ],
    ];