<?php
    $apiBaseUrl = 'https://api.kangaroorewards.com';

    return [

        /*
        |--------------------------------------------------------------------------
        | App related params
        |--------------------------------------------------------------------------
        |
        | Application name, base url, theme name, logo
        |
        */
        
        'appName' => 'My App Name',
        'appBaseUrl' => 'http://localhost',
        'appHomeUrl' => '/home',
        'appRewardsUrl' => '/rewards',
        'appRegisterUrl' => '/site/register',
        'appLoginUrl' => '/site/login',
        'loggerUrl' => 'http://localhost/site/logger',
        'theme' => 'default',
        'logoPath' => '/themes/default/assets/images/logo.jpg',

        /*
        |--------------------------------------------------------------------------
        | Headers for API requests
        |--------------------------------------------------------------------------
        |
        | X-Application-Key - the token for a coalition or rgular business
        |
        */
        
        'headers' => [
            'X-Application-Key' => 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkYXRhIjp7ImJ1c2luZXNzSWQiO',
            'Accept' => 'application/vnd.kangaroorewards.api.v1+json;',
            'Content-Type' => 'application/json',
        ],

        /*
        |--------------------------------------------------------------------------
        | API related params
        |--------------------------------------------------------------------------
        |
        | Client ID and secret
        | API endpoints
        |
        */
        
        'api' => [
            'baseUrl' => $apiBaseUrl,
            'grant_type' => 'password',
            'client_id' => '{YOUR CLIENT ID}',
            'client_secret' => '{YOUR CLIENT SECRET}',
            'scope' => '*',
            'endpoints' => [
                'token' => $apiBaseUrl . '/oauth/token',
                'me' => $apiBaseUrl . '/users/me?include[]=businesses&include[]=balance&include[]=catalog_items',
                'users' => $apiBaseUrl . '/users',
                'rewards' => $apiBaseUrl . '/users/rewards',
                'transactions' => $apiBaseUrl . '/users/transactions',
            ],
        ],
    ];