<?php
    $apiBaseUrl = 'https://api.kangaroorewards.com';

    return [

        /*
        |--------------------------------------------------------------------------
        | App related params
        |--------------------------------------------------------------------------
        |
        | Application name, base url, theme name, logo
        |
        */
        
        'appName' => 'My App Name',
        'appBaseUrl' => 'http://localhost', // no trailing slash
        'theme' => 'default',
        'version' => 'v1.0.0',
        'kangarooUrl' => 'https://www.kangaroorewards.com',
        'loggerUrl' => 'https://www.kangaroorewards.com/site/logger',
        'logoPath' => '/themes/default/assets/images/logo.jpg',

        /*
        |--------------------------------------------------------------------------
        | Headers for API requests
        |--------------------------------------------------------------------------
        |
        | X-Application-Key - the token for a coalition or rgular business
        |
        */
        
        'headers' => [
            'X-Application-Key' => '{YOUR X-Application-Key here}',
            'Accept' => 'application/vnd.kangaroorewards.api.v1+json;',
            'Content-Type' => 'application/json',
        ],

        /*
        |--------------------------------------------------------------------------
        | API related params
        |--------------------------------------------------------------------------
        |
        | Client ID and secret
        | API endpoints
        |
        */
        
        'api' => [
            'baseUrl' => $apiBaseUrl,
            'grant_type' => 'password',
            'client_id' => '{YOUR CLIENT ID}',
            'client_secret' => '{YOUR CLIENT SECRET}',
            'scope' => '*',
            'callback' => 'http://localhost',
            'endpoints' => [
                'token' => $apiBaseUrl . '/oauth/token',
                'user_profile' => $apiBaseUrl . '/users/me',
                'account' => $apiBaseUrl . '/users/me?include[]=businesses&include[]=balance&include[]=catalog_items',
                'users' => $apiBaseUrl . '/users',
                'rewards' => $apiBaseUrl . '/users/{id}/rewards',
                'transactions' => $apiBaseUrl . '/users/{id}/transactions',
            ],
        ],
    ];