html{    
    color: #878787;
}

body{
    background-image: url(../images/hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    /*overflow-y: auto;*/
}

html, body, .container {
    height: 100%;
}

.loader {
    left: 50%;
    top: 50%;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1051;
}

.loader #spinner {
    box-sizing: border-box;
    stroke: #673AB7;
    stroke-width: 3px;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
    animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

@-webkit-keyframes line {
    0% {
        stroke-dasharray: 2, 85.964;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        stroke-dasharray: 65.973, 21.9911;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dasharray: 2, 85.964;
        stroke-dashoffset: -65.973;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes line {
    0% {
        stroke-dasharray: 2, 85.964;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        stroke-dasharray: 65.973, 21.9911;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dasharray: 2, 85.964;
        stroke-dashoffset: -65.973;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

/*  ---------------------------------  MESSAGES  ----------------------------*/
.message__container--fixed{
    position: absolute;
    width: 100%;
    /*top: 35%;*/
    top: 0px;
    z-index: 1051;
    max-width: 460px;
    margin: auto;
    left: 0;
    right: 0;
}

.alert-success { background-color: #1f6a26; color: #fff; border: none; }
.alert-error { background-color: #e82028; color: #fff; border: none; }
.alert-info { background-color: #337ab7; color: #fff; border: none; }

.alert-container {display: table; top: -25px; position: relative;}
.alert .message__icon {width: 50px;}
.alert .message__icon, .alert .message__content{display: table-cell;}

/*  ---------------------------------  MESSAGES  ----------------------------*/

.btn-primary {
    background-color: #2d3494;
    border-color: #2d3494;
}

/*.btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    background-color: #025aa5;
    border-color: #2d3494;
}

.btn-primary:hover {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
}
*/
.btn-outline-primary {
    color: #ffffff;
    border-color: #ffffff;
}

/*.btn-outline-primary:hover {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
}*/

/*  ---------------------------------  Overides Datetime picker  ----------------------------*/

.bootstrap-datetimepicker-widget table td.day {
    height: 30px!important;
    line-height: 30px!important;
    width: 70px!important;
}

.bootstrap-datetimepicker-widget table th.picker-switch{
    height: 40px!important;
}

.time-input .bootstrap-datetimepicker-widget.dropdown-menu{
    width: 12em!important;
}

.form .time-input .btn-primary {
    min-width: 50px!important;
}

/*  --------------- Countries phone  ----------------------------*/

.intl-tel-input .selected-flag .iti-flag {display: none;}
.intl-tel-input .selected-flag .arrow {display: none;}
.country-list .flag-box .iti-flag {display: none;}
.intl-tel-input .country-list .flag-box {width: initial!important;}
.intl-tel-input {width: 100%;}
.intl-tel-input.separate-dial-code .selected-dial-code{ padding-left: 0!important; text-align: center; }

.intl-tel-input .selected-flag .iti-country-code {font-size: 1.2rem;}
/*  ---------------------------------  OVERRIDES  ----------------------------*/

.container-landing {margin-top: 100px;}
.container-landing a:not(.btn){color: #fff;}

.landing-text-box {background-color: rgba(255, 255, 255, 0.69);}

.container-landing .input-group-addon {
    color: #464a4c;
    text-align: center;
    background-color: rgba(236, 238, 239, 0.44);
    border: none; /*1px solid rgba(0,0,0,.01);*/
}


.container-landing .form-control {
    border: none;
}